body {
    margin: 0px;
    background-color: dimgray;
}

.tela-produto img {
    position: relative;
    width: 100%;
    height: 1000%;
}

.logo img {
    position: absolute;
    top: 10%;          
    left: 5%;          
    transform: translate(-50%, -50%);
    height: 15%;
    width: 10%;
}


.vidro {
    display: grid;
    position: absolute;
    top: 50%;           
    left: 50%;        
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 3%;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.4);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
    color: white;
}

.titulo {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 28px;
}

p {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

input {
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}

button {
    background-color: rgba(6, 180, 15, 0.911);
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}



.btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    text-align: center;
}

.btn-cancelar {
    background-color: rgba(255, 0, 0, 0.55);
    padding: 15px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: block;
}
