/* Fundo */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(62, 62, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo no canto superior esquerdo */
.barra-superior {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 180px;  /* Logo em tamanho normal */
}

/* Centralização do card */
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Card centralizado */
.card {
    width: 350px;
    padding: 30px;
    background-color: rgba(43, 43, 43, 0.30);
    border-radius: 25px;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
    color: white;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
    display: flex;
    flex-direction: column;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0.45);
    color: white;
}

/* Botão salvar */
.btn-editar {
    padding: 12px;
    background-color: rgba(0, 150, 0, 0.45);
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
}

.btn-editar:hover {
    background-color: rgba(0, 150, 0, 0.70);
    transform: scale(1.05);
}

/* Botão cancelar */
.btn-cancelar {
    display: block;
    text-align: center;
    padding: 12px;
    background-color: rgba(255, 0, 0, 0.45);
    border-radius: 12px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.btn-cancelar:hover {
    background-color: rgba(255, 0, 0, 0.70);
    transform: scale(1.05);
}
