body {
    /* background-color: blueviolet; */
    margin-top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.card {
    right: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
    width: 14%;
    padding: 5%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.loginBotoes {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10%;
    color: white;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
}

.btn-a, a{
    cursor: pointer;
    padding-left: 0%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.452) 10px;
    transition: 0.6s;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 10%;          
    left: 90%;     
    transform: translate(-50%, -50%); 
    margin: 0%;
    color: white;
    padding: 9px;
    border-radius: 2dvh;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.campo {
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 5cap;
    border-radius: 30px;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.login img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#ButtonEntrar:active{
    opacity: 0.8;
}

#ButtonEntrar[disabled]{
    opacity: 0.7;
}


/* .imglado img {
        justify-items: end;
        margin-top: 0;
        margin-bottom: 10px;
        width: 60%;
    
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    } */


/* .roxo{
        padding: 100px;
        border-color: blueviolet;
        border: 10%;
        background-color: blueviolet;
    } */


/* .area-inicial {
        margin-bottom: 10px;
        justify-items: end;
        justify-content: center;
        align-items: center;
    } */


/* .vidro {
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 10%;
        height: 60%;
        width: 48%;
        border-radius: 30px;
        backdrop-filter: blur(22px) saturate(160%);
        -webkit-backdrop-filter: blur(22px) saturate(160%);
    } */