body{
    background-image: url(../Imgs/Arvore\ Japonesa\ laranja.gif);
}

.logo img{
    margin-left: 3%;
    width: 20%;
}

.barra-tela-admin{
    display: grid;
    grid-template-columns: 30% 10%;
    justify-content: space-between;
}

.btn-a{
    padding-top: 20%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.452) 10px;
    transition: 0.10s;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.452);    
    margin: 0%;
    color: white;
    border-radius: 2dvh;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btn-a:not(:first-child){
    margin-right: 30px;
}

.btn-a:hover {
    transform: translatex(-20px);
}

.btn-a:hover  .btn-a{
    left: 20px;
}

.vidro{
    display: grid;
    position: absolute;
    top: 50%;           
    left: 5%;       
    transform: translate(-50%, -50%);
    margin: 0%;
    width: 14%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 20%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.vidro2{
    position: absolute;
    top: 59%;           
    left: 65%;       
    transform: translate(-50%, -50%);
    margin: 0%;
    padding: 10%;
    padding-top: 35%;
    width: 40%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.vidro3{
    position: absolute;
    top: 60%;           
    left: 65%;       
    transform: translate(-50%, -50%);
    margin: 0%;
    padding: 9%;
    padding-top: 30%;
    width: 40%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btns{
    display: grid;
    grid-template-columns: 75% 75%;
    margin-left: 20px;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    margin-left: 12px;
    padding: 15px;
    margin-top: 20px;
    
    border-radius: 10px;
}

input{
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    margin-left: 40px;
    width: 120%;
    padding: 5%;
    border: 5cap;
    border-radius: 30px;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

label{
    margin-left: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cad{
    margin-top: 1.5%;
    text-align: center;
    position: absolute;
    margin-left: 500px;    
}
