body{
    margin: 0px;
    padding: 0px;
    width: 10%;
    height: 1vh;
    background-image: url(../Imgs/God\ of\ War\ barco.png);
}

.vidro2{
    
    position: absolute;
    top: 50%;           
    left: 50%;       
    transform: translate(-50%, -50%);
    margin: 0%;
    width: 14%;
    width: 40%;
    padding: 2%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.vidro{
    
    position: absolute;
    top: 50%;           
          
    transform: translate(-50%, -50%);
    margin: 0%;
    width: 14%;
    padding: 10%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btn-a{
    
    box-shadow: rgba(0, 0, 0, 0.452) 10px;
    position: relative;
    transition: 0.10s;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10%;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 2dvh;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btn-a:not(:first-child){
    margin-right: -60px;

}

.btn-a:hover {
    transform: translatex(50px);
}

.btn-a:hover  .btn-a{
    left: 40px;
}

.btn-avo{
    
    box-shadow: rgba(0, 0, 0, 0.452) 10px;
    position: relative;
    transition: 0.10s;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10%;
    color: white;
    margin-left: 1000%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 2dvh;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btn-av{
    margin-left: 950%;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.452) 10px;
    transition: 0.10s;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.362);
    color: white;
    margin-top: 20px;
    border-radius: 2dvh;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btn-avo:not(:first-child){
    margin-right: 60px;
}

.btn-avo:hover {
    transform: translatex(-10px);
}

.btn-avo:hover  .btn-a{
    left: 50px;
}

.btn-av1{
    box-shadow: rgba(0, 0, 0, 0.452) 10px;
    transition: 0.10s;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.362);
    color: white;
    margin-top: 20px;
    padding: 10%;
    margin: 10%;
    border-radius: 2dvh;
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
}

.btn-av1:not(:first-child){
    margin-right: -40px;
}

.btn-av1:hover {
    transform: translatex(100px);
}

.btn-av1:hover  .btn-av1{
    left: 50px;
}

.vidrov1{
     display: grid;
    position: absolute;
    top: 50%;           
    left: 5%;       
    transform: translate(-50%, -50%);
    margin: 0%;
    width: 14%;
    padding: 5%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
    background-color: rgba(43, 43, 43, 0.278);
    backdrop-filter: blur(22px) saturate(160%);
    -webkit-backdrop-filter: blur(22px) saturate(160%);
    display: grid;
    position: absolute;
    top: 50%;           
    left: 5%;       
    transform: translate(-50%, -50%);
    margin: 0%;
    width: 14%;
    padding: 5%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 30px;
}